<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}">
  <title>{% block title %}{% endblock %} Kyle Hench</title>
</head>
<body>
  <!-- navbar -->
  <nav class="container mx-auto p-4">
    <!-- flex container -->
    <div class="flex items-center justify-between">
      <div>
        <div class="text-3xl">Kyle Hench</div>
        <div class="text-xl pt-2">Full Stack Software Engineer</div>
      </div>
      <!-- menu items -->
      <div class="flex space-x-6">
        <a href="/" class="font-medium hover:text-orange">About</a>
        <a href="/projects" class="font-medium hover:text-orange">Projects</a>
        <a href="/experience" class="font-medium hover:text-orange">Experience</a>
        <a href="/contact" class="font-medium hover:text-orange">Contact</a>
      </div>
    </div>
  </nav>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>