<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="3" > -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/code.svg') }}">
  <title>Kyle Hench - Profile</title>
</head>
<body>
  <!-- navbar -->
  <nav class="sticky top-0 border-b-2 border-white bg-white bg-opacity-50 backdrop-blur-sm transition-colors duration-300">
    <!-- flex container -->
    <div class="container mx-auto px-8 py-2 md:py-4 flex items-center justify-between">
      <div class="text-3xl">Kyle Hench</div>
      <div>
        <!-- menu items -->
        {% set pages = ({'About':'about','Projects':'projects','Experience':'experience','Contact':'contact'}) %}
        <div class="hidden md:flex">
          {% for page in pages %}
            <a href="#{{pages[page]}}" class="px-3 font-medium transition duration-300 decoration-transparent underline underline-offset-8 decoration-2 text-white-shadow hover:text-orange hover:decoration-orange">{{page}}</a>
          {% endfor %}
        </div>
        <!-- Hamburger Icon -->
        <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
          <div class="hamburger-top"></div>
          <div class="hamburger-middle"></div>
          <div class="hamburger-bottom"></div>
        </button>
        <!-- Mobile Menu -->
        <div class="md:hidden">
          <div id="menu" class="absolute flex-col items-center hidden self-end py-6 mt-10 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
            {% for page in pages %}
              <a href="#{{pages[page]}}" class="p-3 font-medium transition duration-300 decoration-transparent underline underline-offset-8 decoration-2 hover:text-orange hover:decoration-orange" onclick="toggleMenu()">{{page}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  {% set page_current = 'About' %}
  
  <div class="container mx-auto">
    <div class="text-xl px-8 pb-2">Full Stack Software Engineer</div>
  </div>
  <div class="h-28 md:h-40 w-full bg-cover mx-auto my-4 bg-[url('../../img/twin-peaks-sf-ca-horizontal.jpg')] bg-center"></div>
  
  <!-- main content -->
  <div class="container px-8 mx-auto space-y-12">
    <div id="about" class="navigation-helper"></div>
    <h2>About</h2>
    <div class="mt-4 md:flex items-center">
      <img class="w-48 mx-auto rounded-full" src="./static/img/profile-alamere-falls.jpg" alt="profile picture">
        <div class="my-4 max-w-48 text-lg text-center md:text-left md:px-8 md:ml-8">
          Full stack software engineer with over 4 years of experience creating customized tools to process and analyze data in analytical chemistry labs. Proactive and diligent professional who enjoys creating innovative solutions to today’s technical problems, pursuing value-adding opportunities, and learning new technologies. Currently based in Sunnyvale, CA.
          <div class="w-2/5 h-0.5 mt-2 bg-blue invisible md:visible"></div>
        </div>
    </div>
    <div>
      <h3>Technical Skills</h3>
      {% set tech_skills = [
        {'title':'Languages','desc':'Python, JavaScript, Java, SQL, HTML, CSS','logos':['python','js','java','sql','html','css']},
        {'title':'Frameworks and Libraries','desc':'React, Express, Flask, SQLAlchemy, Spring, Tailwind CSS, Bootstrap','logos':['react','express','flask','sqlalchemy','spring','tailwind','bootstrap',]},
        {'title':'Databases','desc':'MySQL, MongoDB','logos':['mysql','mongodb']},
        {'title':'Tools','desc':'AWS EC2, Linux, Git, Node, REST APIs, AJAX, OOP, NumPy, Pandas, GUI Automation','logos':['ec2','linux','git','nodejs','numpy','pandas']},
      ] %}
      <div class="mt-2 grid grid-cols-1 gap-4 lg:grid-cols-2">
        {% for skill in tech_skills %}
        <div class="p-5 rounded-xl bg-gray-200">
          <div class="flex flex-wrap">
            {% for logo in skill.logos %}
            <img class="h-12 p-2 md:h-14" src="./static/img/logos/{{logo}}.png" alt="">
            {% endfor %}
          </div>
          <div class="w-20 h-0.5 mt-4 bg-blue"></div>
          <div class="mt-2"><b class="text-blue text-xl">{{skill.title}}</b> - {{skill.desc}}</div>
        </div>
        {% endfor %}
      </div>

      <h3>Assessment Highlight</h3>
      <div class="text-center md:text-left">Scored <a class="font-semibold text-blue" href="https://app.codesignal.com/coding-report/gvf2GvtXHmaqieYoX-YjdtACBMZocP8diZPEM4BWkJ?accessToken=gvf2GvtXHmaqieYoX-FPY8ZqRn9uFRtha6ow5yuGMu" target="_blank" rel="noopener noreferrer">838/850</a> on proctored Codesignal assessment</div>
    </div>
    
    <div>
      <div id="projects" class="navigation-helper"></div>

      {% set projects = [
        {
          'title': 'Webspace',
          'desc_short': 'A space for taking and organizing notes',
          'tool_logos': ['react','python','flask','sqlalchemy','tailwind','mysql','js','html','css','linux'],
          'desc_long': [
            'Notes can be edited and organized in a customizable grid layout. Notes autosave with changes.',
            'User registration/login provided by a Flask service API with token-based authentication that can be easily implemented across multiple apps or services.',
            'CSS animations and UI elements such as tooltips, popovers, and sync status feedback contribute to a great user experience.',
          ],
          'img_name': 'webspace.jpg',
          'github_link': 'https://github.com/kylehench/webspace',
          'deployment_link': 'https://www.kylehench.com/webspace/',
        },
        {
          'title': 'Mazique',
          'desc_short': 'Web app for writing sheet music',
          'tool_logos': ['mongodb','express','react','nodejs','js','html','css','bootstrap','ec2','linux'],
          'desc_long': [
            'Used the MERN stack to create a highly responsive web app for viewing and editing sheet music.',
            'Defined JSON structure for song data inspired by the MusicXML specification.',
            'Created a layout engine that generates and places each symbol in an SVG document.',
            'Wrote a reducer function for processing all edits made to the music.',
          ],
          'img_name': 'mazique.png',
          'github_link': 'https://github.com/kylehench/mazique',
          'deployment_link': 'https://www.kylehench.com/mazique/',
        },
      ] %}
      
      <h2>Projects</h2>
      {% for project in projects %}
        <div class="flex items-end justify-between flex-wrap">
          {% if loop.index==1 %}
          <h3 class="mt-6">{{project.title}}</h3>
          {% else %}
          <h3 class="">{{project.title}}</h3>
          {% endif %}
          <div class="flex items-center">
            <img class="h-6" src="./static/img/icons/code.svg" alt="">
            <a class="ml-2 font-semibold text-blue" href="{{project.github_link}}" target="_blank" rel="noopener noreferrer">Source</a>
            {% if project.deployment_link %}
              <span class="mx-3">|</span>
              <img class="h-5" src="./static/img/icons/window.svg" alt="">
              <a class="ml-2 font-semibold text-blue" href="{{project.deployment_link}}" target="_blank" rel="noopener noreferrer">Deployment</a>
            {% endif %}
          </div>
        </div>
        {% if project.img_name %}
          <div class="mt-3 border bg-gray-300 border-gray-300 rounded">
            <div class="h-2 md:h-5 pl-1.5 md:pl-3 flex items-center space-x-1 md:space-x-2">
              <div class="h-1 w-1 md:h-2 md:w-2 rounded bg-red"></div>
              <div class="h-1 w-1 md:h-2 md:w-2 rounded bg-yellow"></div>
              <div class="h-1 w-1 md:h-2 md:w-2 rounded bg-green"></div>
            </div>
            <img class="p-[1px] rounded-b-[3px]" src="./static/img/apps/{{project.img_name}}" alt="">
          </div>
        {% endif %}
        <div class="my-2 flex flex-wrap items-center justify-between">
          <div class="italic">{{project.desc_short}}</div>
          <div class="flex flex-wrap">
            {% for tool_logo in project.tool_logos %}
              <img class="h-8 p-1" src="./static/img/logos/{{tool_logo}}.png" alt="">
            {% endfor %}
          </div>
        </div>
        <div class="w-2/3 h-0.5 my-3 bg-blue"></div>
        <ul class="ml-8 list-disc">
          {% for list_item in project.desc_long %}
            <li>{{list_item}}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

    <div>
      <div id="experience" class="navigation-helper"></div>
      <h2>Experience and Education</h2>
        <h3 class="mt-6">Professional Experience</h3>
        <div class="flex">
          <img class="h-16 p-2" src="./static/img/chevron.png" alt="">
          <div class="ml-2 flex justify-between w-full flex-wrap items-center">
            <div class="mr-8">
              <div class="font-semibold">R&D Laboratory Technician</div>
              <div class="italic">Chevron Energy Technology Company</div>
            </div>
            <div class="text-left md:text-right">Jun 2016 - Nov 2021<br>Richmond, CA</div>
          </div>
        </div>
        <div class="mt-2 md:flex md:space-x-5">
          <ul class="pl-8 space-y-3 list-disc">
            <li>Co-authored <span class="emphasize">8 peer-reviewed papers</span> in leading energy journals (including Fuel and Energy and Fuels), <span class="emphasize">2 book chapters</span>, and <span class="emphasize">1 patent</span>.</li>
            <li>Developed a user-friendly <span class="emphasize">Python/Excel VBA application that analyzes three-dimensional instrument data</span> to rapidly determine the hydrocarbon content of soils for environmental remediation projects.</li>
            <li>Performed fuel oil testing supporting the development of a very low sulfur fuel oil that captured an estimated <span class="emphasize">~$45MM enterprise gross margin improvement</span> in 2020, and co-authored its patent.</li>
          </ul>
          <ul class="mt-3 pl-8 space-y-3 list-disc md:mt-0">
            <li>Created various utilities supplementing laboratory software and data workflows that <span class="emphasize">increased data quality, reduced reporting time, and saved hundreds of hours of analysis time per year</span> (Python, NumPy, Pandas, PyAutoGUI, VBA, Tkinter).</li>
            <li>Implemented an image-matching algorithm ~20x faster than PyAutoGUI’s method.</li>
            <li>Participated in <span class="emphasize">two cross-functional data science teams</span> as the primary programmer, results were published in two Energy and Fuels papers.</li>
          </ul>
        </div>
        <h3>Education</h3>
        <div class="flex">
          <img class="h-16 p-2" src="./static/img/dojo.png" alt="">
          <div class="ml-2 flex justify-between w-full flex-wrap items-center">
            <div class="mr-8">
              <div class="font-semibold">Full-Stack Web Development Certificate</div>
              <div class="italic">Coding Dojo</div>
            </div>
            <div class="text-left md:text-right">Nov 2021 - Aug 2022<br>Sunnyvale, CA</div>
          </div>
        </div>
        <div class="mt-1 ml-2">Graduated with honors in Python, Java, and MERN full-stack programs.</div>
        <div class="mt-5 flex">
          <img class="h-16 p-2" src="./static/img/uc-berkeley.png" alt="">
          <div class="ml-2 flex justify-between w-full flex-wrap items-center">
            <div class="mr-8">
              <div class="font-semibold">Bachelor’s in Chemical Biology</div>
              <div class="italic">University of California, Berkeley</div>
            </div>
            <div class="text-left md:text-right">2012-2016<br>Berkeley, CA</div>
          </div>
        </div>
    </div>

    <div class="pb-8">
      <div id="contact" class="navigation-helper"></div>
      <h2>Contact</h2>
      <div class="grid md:grid-cols-2 mt-4 ml-4">
        <div class="my-2 flex items-center">
          <img class="h-10" src="./static/img/icons/mail.svg" alt="">
          <a class="ml-4 text-xl font-bold text-blue underline" href="mailto:hello@kylehench.com">hello@kylehench.com</a>
        </div>
        <div class="my-2 flex items-center">
          <img class="h-10" src="./static/img/icons/phone.svg" alt="">
          <a class="ml-4 text-xl font-bold text-blue underline" href="tel:+19492924461">949-292-4461</a>
        </div>
        <div class="my-2 flex items-center">
          <img class="h-10" src="./static/img/icons/linkedin.svg" alt="">
          <a class="ml-4 text-xl font-bold text-blue underline" href="https://www.linkedin.com/in/kylehench/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </div>
        <div class="my-2 flex items-center">
          <img class="h-10" src="./static/img/icons/github.svg" alt="">
          <a class="ml-4 text-xl font-bold text-blue underline" href="https://github.com/kylehench" target="_blank" rel="noopener noreferrer">Github</a>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>